@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

html {
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
}

body {
  font-size: var(--numbers-fs);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 100%;
}
body.theme01 {
  background-color: var(--t1-main-bg);
  color: var(--del-reset-res-fs);
}

body.theme02 {
  background-color: var(--t2-main-bg);
  color: var(--t2-numbers-fs);
}

body.theme03 {
  background-color: var(--t3-main-bg);
  color: var(--t3-numbers-fs);
}

.calc {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  gap: 0.5rem;
}

.numbers-theme {
  gap: 2rem;
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  padding-right: 1rem;
}

.number-theme {
  background-color: inherit;
}

.wrapper-themes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

.wrapper-themes p {
  font-size: 1.5rem;
}

#screen {
  color: var(--del-reset-res-fs);
  padding-left: 1rem;
  min-height: 5rem;
  border-radius: 0.5rem;
  width: 25rem;
}

body.theme01 #screen,
body.theme01 .barra {
  background-color: var(--t1-screen-bg);
}

body.theme02 #screen,
body.theme02 .barra {
  color: var(--t2-numbers-fs);
  background-color: var(--t2-screen-bg);
}

body.theme03 #screen,
body.theme03 .barra {
  background-color: var(--t3-calculator-bg);
}

.barra {
  background-color: var(--t1-screen-bg);
  display: flex;
  align-items: center;
  border-radius: 3rem;
  width: 8rem;
  height: 2rem;
  padding: 0.9rem;
}

body.theme01 .barra {
  display: flex;
  justify-content: flex-start;
}

body.theme02 .barra {
  display: flex;
  justify-content: center;
}

body.theme03 .barra {
  display: flex;
  justify-content: flex-end;
}

.btn-theme {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  transition: 0.2s ease-in-out;
}

body.theme01 .btn-theme {
  background-color: var(--t1-res);
}

body.theme02 .btn-theme {
  background-color: var(--t2-res);
}

body.theme03 .btn-theme {
  background-color: var(--t3-res);
}

.wrapper-numbers {
  width: 25rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

body.theme01 .wrapper-numbers {
  background-color: var(--t1-calculator-bg);
}

body.theme02 .wrapper-numbers {
  background-color: var(--t2-calculator-bg);
}

body.theme03 .wrapper-numbers {
  background-color: var(--t3-calculator-bg);
}

.numbers {
  height: 3rem;
  border-radius: 0.6rem;
  font-weight: 700;
}

.numbers:hover {
  background-color: var(--t1-key-numbers-shadow);
}

body.theme01 .numbers {
  background-color: var(--t1-key-numbers-bg);
  color: var(--t1-numbers-fs);
  box-shadow: 0.2rem 0.2rem 0.1rem var(--t1-key-numbers-shadow);
}

body.theme01 .numbers:hover {
  background-color: var(--t1-key-numbers-shadow);
}

body.theme02 .numbers {
  background-color: var(--t2-key-numbers-bg);
  color: var(--t2-numbers-fs);
  box-shadow: 0.2rem 0.2rem 0.1rem var(--t2-key-numbers-shadow);
}

body.theme02 .numbers:hover {
  background-color: var(--t2-key-numbers-shadow);
}

body.theme03 .numbers {
  background-color: var(--t3-key-numbers-bg);
  color: var(--t3-numbers-fs);
  box-shadow: 0.2rem 0.2rem 0.1rem var(--t3-key-numbers-shadow);
}

body.theme03 .numbers:hover {
  background-color: var(--t3-key-numbers-shadow);
}

.res {
  grid-column: span 2;
  height: 3rem;
  border-radius: 0.6rem;
}

body.theme01 .res {
  background-color: var(--t1-res);
  box-shadow: 0.2rem 0.2rem 0.1rem var(--t1-res-shadow);
}

body.theme01 .res:hover {
  background-color: var(--t1-res-shadow);
}

body.theme02 .res {
  color: var(--del-reset-res-fs);
  background-color: var(--t2-res);
  box-shadow: 0.2rem 0.2rem 0.1rem var(--t2-res-shadow);
}

body.theme02 .res:hover {
  background-color: var(--t2-res-shadow);
}

body.theme03 .res {
  color: var(--del-reset-res-fs);
  background-color: var(--t3-res);
  box-shadow: 0.2rem 0.2rem 0.1rem var(--t3-res-shadow);
}

body.theme03 .res:hover {
  background-color: var(--t3-res-shadow);
}

body.theme01 .reset {
  background-color: var(--t1-del-reset-bg);
  box-shadow: 0.2rem 0.2rem 0.1rem var(--t1-key-shadow);
  color: var(--del-reset-res-fs);
}

body.theme01 .reset:hover {
  background-color: var(--t1-key-shadow);
}

body.theme02 .reset {
  color: var(--del-reset-res-fs);
  background-color: var(--t2-del-reset-bg);
  box-shadow: 0.2rem 0.2rem 0.1rem var(--t2-key-shadow);
}

body.theme02 .reset:hover {
  background-color: var(--t2-key-shadow);
}

body.theme03 .reset {
  color: var(--del-reset-res-fs);
  background-color: var(--t3-del-reset-bg);
  box-shadow: 0.2rem 0.2rem 0.1rem var(--t3-key-shadow);
}

body.theme03 .reset:hover {
  background-color: var(--t3-key-shadow);
}
